* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: open Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* الناف بار */
header {
    background-color: #269ad8;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    border-bottom: solid 4px #ffc600;
}

.namelogo {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.8em;
}

.namelogo span {
    color: #ffc600;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: .2s;
    text-transform: uppercase;
}

.navigation a:hover {
    color: #ffc600;
}


/* الصوره في اول سكشن*/
section {
    padding: 30px 10px;
}

.main {
    width: 100%;
    min-height: 43vh;
    display: flex;
    align-items: center;
    background: url(./images/nav2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.namefoto {
    display: flex;
    justify-content: end;
}

.main h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 15px;
    margin-left: 30%;
    text-shadow: 3px 5px 5.82px rgba(0, 0, 0, .16);
}

/* الصور اللى في الموقع كامل */
.image {
    margin-bottom: 5px;
}

/* المدن الصفحه */


.title2 {
    display: flex;
    justify-content: center;
    color: #FF5722;
    font-size: 25px;
}

.cards {
    margin-left: 10px;
    margin-right: 10px;
}

.content2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* المدن */
.project-city .content2 {
    margin-top: 30px;
}
.project-city .project-card {
    background-color: #FFFFFF;
    border: 1px solid rgba(196, 210, 220, .7);
    -webkit-box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, .03);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 3px;
    margin: 10px;
    transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(0.9) ;
}

.project-card:hover .pro-image img {
    opacity: 0.9;
}
.pro-image img {
    width: 100%;
}
.information {
    padding: 1em;
}
.info_cat .namecity {
    color: red;
    font-weight: bold;
}

.project-tittle {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.project-tittle span {
    color: gold;
}

.more-detel {
    text-decoration: none;
    color: #3a6cf4;
}
.more-detel:hover {
    color: #601cfc;
}



/* footer */
.foot {
    background: url(./images/navfoto.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    height: 66vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 5px solid #ffc600;
}

.about ul li {
    list-style: none;
    padding: 5px;

}

.about ul li a {
    text-decoration: none;
    color: #0e5778;
    
}

.about ul li a:hover {
    font-weight: bold;
}

.titfoot {
    padding-bottom: 10px;
}

.about {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.facebookicons {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.facebookicons a {
    padding: 5px;
    text-decoration: none;
}

.facebookicons a i {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.facebookicons a i:hover {
    background-color: #4786a2;
}




